#!/system/bin/sh

# Function to check if a command exists
command_exists() {
    command -v "$1" >/dev/null 2>&1
}

# Check for Magisk, KernelSU or APatch busybox
if command_exists /data/adb/magisk/busybox; then
    busybox_path=/data/adb/magisk/busybox
    echo "Using Magisk busybox at $busybox_path"
elif command_exists /data/adb/ksu/bin/busybox; then
    busybox_path=/data/adb/ksu/bin/busybox
    echo "Using KernelSU busybox at $busybox_path"
elif command_exists /data/adb/ap/bin/busybox; then
    busybox_path=/data/adb/ap/bin/busybox
    echo "Using APatch busybox at $busybox_path"
else
    echo "No suitable busybox found. Exiting."
    exit 1
fi

# PHP7 FILES PATH
wserv_path="/data/adb/php7"

# WEBSERVER IP
# 0.0.0.0 : Global IP all interfaces
# 127.0.0.1 / localhost : localhost only
wserv_ip="0.0.0.0"

# WEBSERVER PORT
wserv_port="80"

# PATH HTDOCS/WWW
www_path="${wserv_path}/files/www"

# PHP CONFIG
php_ini_conf="${wserv_path}/files/config/php.ini"

php_tmp_dir="${wserv_path}/files/tmp"
php_log_path="${php_tmp_dir}/php7.log"
php_pid_path="${php_tmp_dir}/php7.pid"

# TTYD CONFIG
# ttyd_run="0" : TTYD not running with PHP
# ttyd_run="1" : TTYD running with PHP

ttyd_run="1"
ttyd_port="3001"
ttyd_firstcmd="sh /data/adb/php7/scripts/tmux_run"
ttyd_pid_path="${php_tmp_dir}/ttyd.pid"

tmux_bin_path="/data/data/com.termux/files/usr/bin"
