
.box-shadow{
    box-shadow: 0 0 10px 0 #006199;
}

.sr-only {
position: absolute;
width: 1px;
height: 1px;
padding: 0;
overflow: hidden;
clip: rect(0, 0, 0, 0);
white-space: nowrap;
border: 0;
}
.container2 {
			width: 500px;
			margin: 0 auto;
			padding: 20px;
			border: 1px solid #ccc;
		}
.scroll {
			height: 200px;
			overflow-y: scroll;
			padding: 10px;
			border: 1px solid #ccc;
		}
.h2 { font-family: Arial; }

.clash-status {
    color: #0052a7!important;
}